@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  /*display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;*/
  background-image: url('./images/trees.png');
  background-position: center;
  background-size: cover;
}

.listingDisplay {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 570px;
  width: 570px;
  border: 2px outset black;
  overflow: scroll;
}

.listingDisplayViewport {
  display: inline-block;
  overflow: scroll;
}

.playerInput {
  display: block;
}
